body {
    font-family: Arial, sans-serif;
    text-align: center;
}
header {
    background: green;
    color: white;
    padding: 20px;
}


.big-image {
  transform: scale(2);
  transition: transform 0.3s ease;
  cursor: zoom-out;
  z-index: 999;
  position: relative;
}
